.free-shipping-bar {
    display: block;
    margin: 0.5rem auto 1.5rem;
    text-align: center;
    width: 90%;
}

.free-shipping-bar__text {
    display: block;
    margin-top: 1rem;
    font-size: 1.2rem; 
    line-height: 1.4rem; 
}

.free-shipping-bar__progress {
    position: relative;
    display: block !important;
    height: 7px;
    border: 1px solid rgba(var(--color-button), var(--alpha-button-background));
    border-radius: 4px;
    background-color: transparent;
    overflow: hidden; /* Ensure the :after content doesn't overflow */
}

.free-shipping-bar__progress:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%; /* Full width to be scaled down */
    background-color: rgba(var(--color-button), var(--alpha-button-background));
    transform: scaleX(var(--progress));
    transform-origin: left center; /* Start scaling from the left */
    transition: transform 0.5s ease;
    /* opacity: 0;
    transition: opacity 0.2s ease; */
}
// Tying to make an effect to distract from the jump of the progress bar but i'm not sure on this yet
/* .free-shipping-bar__progress--visible:after{
    opacity: 1;
} */

@media (min-width: 600px) {
    .free-shipping-bar {
        margin-bottom: 1.8rem;
    }

    .free-shipping-bar__progress {
        height: 8px;
    }
}
