/* Swipers */
/* some swiper content commented out as it is from the original theme where it fixed the initial load styling using swiper v9, but seems to break swiper using v11. Will come back to as the styling is still odd on load so needs fixing */
#home_hero{

	.swiper-slide{
		text-align: center;
		background: #fff;
		align-items: center;
		width: 90%;
		padding: 2.5rem 2rem 2rem 2rem;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			margin-bottom: 1em;
			aspect-ratio: 1 / 1;
			background: #fafafa;
            position: relative;
		}
	}
	
	// Custom Swiper Styles for mobile swiper
	.hero__swiper--sm {
		width: 100%;
		margin: auto;
		.swiper-slide{
			width: 70%;
			padding: 2rem 1.5rem 1.25rem 1.5rem;
			@media screen and (max-width: 480px) {
				font-size: 0.85em;
			}
			@media screen and (min-width: 600px) {
				width: 56%;
				padding: 2rem 2rem 2rem 2rem;
			}
		}
		.swiper-3d .swiper-slide-shadow-left, {
			background-image: linear-gradient(to left,rgba(0,0,0,.15),transparent);
		}
		.swiper-3d .swiper-slide-shadow-right {
			background-image: linear-gradient(to right,rgba(0,0,0,.15),transparent);
		}
		/* Onload styling so it doesn't flash the unstyled slider before it's loaded */
		.swiper-slide.hero_not_first_slide_sm{
			visibility: hidden;
		}
		.swiper-slide.hero_first_slide_sm{
			left: -55%;
			// animation: fadeIn 0.2s ease-in-out;
			@media screen and (min-width: 600px) {
				left: -35%;
			}
		}
	}

	// Custom Swiper Styles for mobile swiper
	.hero__swiper--lg {
		// Hide slides on load so there isn't a flash of unstyled content
		&.hero__swiper--onload-o-hidden{
			overflow: hidden;
			.swiper-slide::not(:nth-child(2)){
				visibility: hidden;
			}
		}
		.swiper-slide.hero_first_slide_lg{
			margin-left:-90%;
		}
	}
	
}

/* Reviews.io */
.RatingBarWidget-prefix .R-flex-center-xxs{
    justify-content: left !important;
    text-align: left !important;
}


// Make reviews io logo bigger
.RatingBarWidget-prefix .RatingBarWidget .R-PlatformIcon{
    height: 2.3rem !important;
}

// Make stars bigger
.RatingBarWidget-prefix .R-RatingStars--sm .R-RatingStars__stars .stars__icon{
    font-size: 2.5rem !important;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.95) 30%, #000 50%, rgba(0,0,0,.95) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
    -webkit-text-stroke: 1px rgba(0,0,0,.05);
    background-image: #ffd700 !important;
}

@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
  }

.R-TextBody{
    margin-top: 0.25em !important;
    font-size: 1.7rem !important;
}