/* Swipers */
#home_hero{
	.hero__slider{
		/* Not needed for now as can't work out how to do the js needed to create a manual scroll, but keep it for future reference
		.hero-scroll-inner.dragging .hero-slider__wrap {
			animation-play-state: paused !important;
			cursor: grabbing;
			cursor: -webkit-grabbing;
		  }
			*/
		.hero-slider__wrap{
			animation-delay: 1s;
			--calculated-scroll-speed:calc(var(--scroll-speed) * var(--number-of-slides));
			animation: var(--scroll-direction) var(--calculated-scroll-speed) linear infinite;
		}
		.hero__slide{
			text-align: center;
			background: #fff;
			padding: 2.5rem 2rem 1.6rem 2rem;
			width: 26rem;
			margin-right: 1.6rem;
			transition: box-shadow 0.2s ease;
			box-shadow: 0px 10px 30px -20px rgba(0,0,0,0.2);
			word-wrap: break-word;
			/* We'll save this until i make the slides links */
			&:hover{
				// transform: scale(1.01);
				box-shadow: 0px 10px 30px -20px rgba(0,0,0,0.3);
			} 
			@media screen and (min-width: 600px) {
				width: 34rem;
				margin-right: 1.8rem;
			}
			@media screen and (min-width: 780px) {
				width: 38rem;
				margin-right: 2rem;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				margin-bottom: 1em;
				aspect-ratio: 1 / 1;
				background: #fafafa;
				pointer-events: none;
				/* Not needed for now
				user-drag: none;
				-webkit-user-drag: none;
				-moz-user-drag: none;
				-ms-user-drag: none;
				*/
			}
		}
	}
	// Overwrite some styles for the desktop (over 990px) version of the sliders
	.hero__slider--lg{
		@media screen and (min-width: 990px) and (max-width: 1054px) {
			height: 54rem;
		}
		.hero__slide{
			margin-right: 0;
			width: 100%;
			margin-bottom: 2rem;
			display: flex;
			flex-direction: column;
		}
	}
	/* Pause the animation when a user hovers over it */
	/* We'll save this for when i make the slides links */
	.hero-scroll-inner:hover .hero-slider__wrap{
		animation-play-state: paused;
	}
}

@media (prefers-reduced-motion: reduce) {
	#home_hero{
		.hero-slider__wrap{
	  		animation-play-state: paused;
		}
	}
}




/* Keyframe animation for infinite scroll */
@keyframes scroll-up {
	0% {
	  transform: translateY(0);
	}
	100% {
	  transform: translateY(-100%); /* Move up by 100% to seamlessly loop the slides */
	}
  }
  
  @keyframes scroll-down {
	0% {
	  transform: translateY(-100%); /* Start at the middle of the duplicated slides */
	}
	100% {
	  transform: translateY(0); /* End at the beginning of the original slides */
	}
  }

  @keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
  }

  @keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
  }

/* Reviews.io */
.RatingBarWidget-prefix .R-flex-center-xxs{
    justify-content: left !important;
    text-align: left !important;
}


// Make reviews io logo bigger
.RatingBarWidget-prefix .RatingBarWidget .R-PlatformIcon{
    height: 2.3rem !important;
}

// Make stars bigger
.RatingBarWidget-prefix .R-RatingStars--sm .R-RatingStars__stars .stars__icon{
    font-size: 2.5rem !important;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.95) 30%, #000 50%, rgba(0,0,0,.95) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
    -webkit-text-stroke: 1px rgba(0,0,0,.05);
    background-image: #ffd700 !important;
}

@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
  }

.R-TextBody{
    margin-top: 0.25em !important;
    font-size: 1.7rem !important;
}