<div
  class='utility-bar'
  {{ block.shopify_attributes }}
>
  <div class='page-width'>
    <p>Demo Text</p>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar-custom-html.name",
  "class": "announcement-bar-custom-html-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [],
  "blocks": []
}
{% endschema %}
