@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    :host {
    line-height: 1.5;
    font-family: var(--font-body-family);
    }

    body{
        letter-spacing: 0.01rem;
    }
    
    /* Overwrite tailwind's inherit heading font options and reconfigure font scaling from Dawn's css too */    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-weight: var(--font-heading-weight);
    }
    .hxl {
    font-size: calc(var(--font-heading-scale) * 5rem);
    }
    
    @media only screen and (min-width: 750px) {
    .hxl {
        font-size: calc(var(--font-heading-scale) * 6.2rem);
    }
    }
    
    .h0 {
    font-size: calc(var(--font-heading-scale) * 4rem);
    }
    
    @media only screen and (min-width: 750px) {
    .h0 {
        font-size: calc(var(--font-heading-scale) * 5.2rem);
    }
    }
    
    h1,
    .h1 {
    font-size: calc(var(--font-heading-scale) * 3rem);
    }
    
    @media only screen and (min-width: 750px) {
    h1,
    .h1 {
        font-size: calc(var(--font-heading-scale) * 4rem);
    }
    }
    
    h2,
    .h2 {
    font-size: calc(var(--font-heading-scale) * 2rem);
    }
    
    @media only screen and (min-width: 750px) {
    h2,
    .h2 {
        font-size: calc(var(--font-heading-scale) * 2.4rem);
    }
    }
    
    h3,
    .h3 {
    font-size: calc(var(--font-heading-scale) * 1.9rem);
    }
    
    @media only screen and (min-width: 750px) {
    h3,
    .h3 {
        font-size: calc(var(--font-heading-scale) * 2rem);
    }
    }
    
    h4,
    .h4 {
    font-family: var(--font-heading-family);
    font-style: var(--font-heading-style);
    font-size: calc(var(--font-heading-scale) * 1.8rem);
    }
    
    h5,
    .h5 {
    font-size: calc(var(--font-heading-scale) * 1.2rem);
    }
    
    @media only screen and (min-width: 750px) {
    h5,
    .h5 {
        font-size: calc(var(--font-heading-scale) * 1.3rem);
    }
    }
    
    h6,
    .h6 {
    color: rgba(var(--color-foreground), 0.75);
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    }

    /* Overwrite tailwind's default heading styling that removes all heading margins, adding margin after headings tags if they are followed by a p tag */
    h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
        margin-top: 1rem;
    }
    

    /* Overwrite tailwind's default paragraph styling that removes all p tag margins, adding margin after p tags */
    * > p {
        margin-bottom: 1rem;
    }
    * > p:last-child {
        margin-bottom: 0;
    }

    hr {
        height: 0.1rem;
    }

    /* Overwrite tailwind's default lists styling */
    ul, ol{
        list-style: inherit;
        margin: inherit;
        padding: inherit;
    }
} /* end @layer base */
